<a href="https://colab.research.google.com/github/raheelar80/aws-machine-learning-university-accelerated-cv/blob/master/MidTermDataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![ai.png]()

This is Team 1 and we shall start working on Mid Term Data Science project from this point onwards

****Midterm Project (Team) - Spring 2023
Team Managers: Plbold textease list all team members' names here.
You can use this template to complete this midterm project.
To receive full credit (250 points) for this project, your team need to cover all the following sections, and answer all the mining questions.****

## 1. Introduction

## Problem Statement
- In this project, you are making a comparison between Adidas and Nike sneakers products.

## Objective

- Insight and opinion mining from the dataset and answer the mining questions

## Mining Questions
- **Answer all questions here (after each question).**  

1. What is the shape of the dataset?
- 3268, 8
2. Are there any missing values in this dataset?
- No, there are no missing values contained in this dataset.
3. List all 8 columns' dtypes.
- Float64 (1), int64(4), Object(3)
4. Are there any duplicated rows (observations) in this dataset?
- Yes, There are duplicated rows (observatoins) in this dataset.
5. Refer to the statistical summary of the dataset and answer the following:
   - The average listing price: 
   - The average sale price: 
   - The average discount: 
   - The average rating: 
   - The average number of reviews:
6. Which "Brand" has the highest number of products in this dataset?
7. As you can see, the "Listing Price" for some products is zero (0). How many products with zero listing price are there in this dataset? 
8. Perform the "Univariate EDA", and examine any type of skewness (outliers) for all the variables. 
9. The the percentage for the following:
     - Products with listing prices less than 15000
     - Products with sale price less than 15000
     - Products with at least 50% discount
     - Products with rating less than 3.5 
     - Products with review numbers less than 100 
     - The 3 highest percentages of the discount graph 
10. Perform the "Bivariate EDA", and examine the following:
   - The two highly positively correlated variables
   - The two highly negatively correlated variables
11. What are the names of the 10 highest rated products?
12. What are the 10 products' names with the highest number of reviews?
13. which company gives more discount: Adidas or Nike?

## Data Description

- **dataset: sneakers.csv**

  - Product Name: Name of the product
  - Product ID: ID of the product
  - Listing Price: Listed price of the product
  - Sale Price: Sale price of the product
  - Discount: Percentage of discount on the product
  - Brand: Brand of the product
  - Rating: Rating of the product
  - Reviews: Number of reviews for the product

## 2. Importing Libraries
- Import all needed libraries for this project

In [ ]:
# General Libraries
import numpy as np
import pandas as pd
# Library to supress warnings
import warnings
warnings.filterwarnings('ignore')

#Data Visualization Libraries

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

## 3. Loading the Dataset

In [ ]:
df = pd.read_csv('/content/sneakers.csv')

In [ ]:
sneakers = df.copy()

## 4. EDA

### A) Basic Data Exploration

In [ ]:
sneakers.head()

,Product Name,Product ID,Listing Price,Sale Price,Discount,Brand,Rating,Reviews
0,Women's adidas Originals NMD_Racer Primeknit S...,AH2430,14999,7499,50,Adidas Adidas ORIGINALS,4.8,41
1,Women's adidas Originals Sleek Shoes,G27341,7599,3799,50,Adidas ORIGINALS,3.3,24
2,Women's adidas Swim Puka Slippers,CM0081,999,599,40,Adidas CORE / NEO,2.6,37
3,Women's adidas Sport Inspired Questar Ride Shoes,B44832,6999,3499,50,Adidas CORE / NEO,4.1,35
4,Women's adidas Originals Taekwondo Shoes,D98205,7999,3999,50,Adidas ORIGINALS,3.5,72

In [ ]:
sneakers.tail()

,Product Name,Product ID,Listing Price,Sale Price,Discount,Brand,Rating,Reviews
3263,Air Jordan 8 Retro,CI1236-100,15995,12797,0,Nike,5.0,1
3264,Nike Phantom Venom Club IC,AO0578-717,4995,3497,0,Nike,0.0,0
3265,Nike Mercurial Superfly 7 Academy TF,AT7978-414,8495,5947,0,Nike,5.0,1
3266,Nike Air Max 98,AH6799-300,0,16995,0,Nike,4.0,4
3267,Nike P-6000 SE,CJ9585-600,8995,6297,0,Nike,0.0,0

In [ ]:
sneakers.shape

(3268, 8)

In [ ]:
sneakers.ndim

2

In [ ]:
sneakers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3268 entries, 0 to 3267
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product Name   3268 non-null   object
 1   Product ID     3268 non-null   object
 2   Listing Price  3268 non-null   int64
 3   Sale Price     3268 non-null   int64
 4   Discount       3268 non-null   int64
 5   Brand          3268 non-null   object
 6   Rating         3268 non-null   float64
 7   Reviews        3268 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 204.4+ KB

In [ ]:
sneakers.isnull().sum() / (len(sneakers)) *100

Product Name     0.0
Product ID       0.0
Listing Price    0.0
Sale Price       0.0
Discount         0.0
Brand            0.0
Rating           0.0
Reviews          0.0
dtype: float64

In [ ]:
sneakers.describe()

       Listing Price    Sale Price     Discount       Rating      Reviews
count    3268.000000   3268.000000  3268.000000  3268.000000  3268.000000
mean     6868.020196   6134.265606    26.875765     3.242105    40.551714
std      4724.659386   4293.247581    22.633487     1.428856    31.543491
min         0.000000    449.000000     0.000000     0.000000     0.000000
25%      4299.000000   2999.000000     0.000000     2.600000    10.000000
50%      5999.000000   4799.000000    40.000000     3.500000    37.000000
75%      8999.000000   7995.000000    50.000000     4.400000    68.000000
max     29999.000000  36500.000000    60.000000     5.000000   223.000000

In [ ]:
sneakers.describe(include=['object']).T
# T - Transpose

             count unique                                       top  freq
Product Name  3268   1531  Women's adidas Originals Sambarose Shoes    16
Product ID    3268   3179                                CD6720-808     3
Brand         3268      5                         Adidas CORE / NEO  1111

In [ ]:
# Lets examine the unique values in the object features by creating a for loop
for i in ['Product Name','Product ID','Brand']:
    print('The unique value in',i,'are as follows:')
    print(sneakers[i].value_counts())
    print('\n------------------------')

The unique value in Product Name are as follows:
Women's adidas Originals Sambarose Shoes        16
Men's adidas Originals Supercourt Shoes         16
Men's adidas Originals Stan Smith Shoes         15
Men's adidas Originals Continental 80 Shoes     14
Nike Air Max 90                                 14
                                                ..
Men's adidas Originals Superstar Clean Shoes     1
Men's adidas Running Kivaro 1 shoes              1
Men's adidas Originals Samba OG MS Shoes         1
Men's adidas Sport Inspired Strikerr             1
Nike P-6000 SE                                   1
Name: Product Name, Length: 1531, dtype: int64

------------------------
The unique value in Product ID are as follows:
CD6720-808    3
414571-030    2
AT5269-606    2
AQ4176-049    2
553558-125    2
             ..
F35515        1
F35615        1
CK9466        1
F36650        1
CJ9585-600    1
Name: Product ID, Length: 3179, dtype: int64

------------------------
The unique value in Brand are as follows:
Adidas CORE / NEO           1111
Adidas ORIGINALS             907
Nike                         643
Adidas SPORT PERFORMANCE     606
Adidas Adidas ORIGINALS        1
Name: Brand, dtype: int64

------------------------

In [ ]:
# Examining the duplicated rows (observations,entries)
sneakers.duplicated().sum()

88

In [ ]:
sneakers.drop_duplicates(inplace=True)

In [ ]:
sneakers.duplicated().sum()

0

In [ ]:
sneakers.shape

(3180, 8)

In [ ]:
# nunique () function
sneakers['Brand'].nunique()

5

In [ ]:
# nunique () function
sneakers['Product Name'].nunique()

1531

In [ ]:
# sort _values () function
# True: A-Z
# False Z-A
sneakers.sort_values('Brand',ascending=False)

,Product Name,Product ID,Listing Price,Sale Price,Discount,Brand,Rating,Reviews
3267,Nike P-6000 SE,CJ9585-600,8995,6297,0,Nike,0.0,0
2808,Nike Air Zoom Pegasus 36 Trail,AR5677-200,0,10995,0,Nike,4.6,12
2814,Air Jordan 1 Low,553558-125,0,8995,0,Nike,4.6,34
2813,Nike Mercurial Superfly 7 Academy IC,AT7975-606,0,8495,0,Nike,5.0,1
2812,Zoom Freak 1,BQ5422-200,0,9995,0,Nike,4.2,30
...,...,...,...,...,...,...,...,...
837,Men's adidas Running Pull On Shoes,CM4755,4799,3839,20,Adidas CORE / NEO,3.7,86
840,Men's adidas Sport Inspired Blaze Runner Shoes,CM4618,5599,4479,20,Adidas CORE / NEO,0.0,59
2004,Women's adidas Sport Inspired VL Court 2.0 Shoes,EF0021,4999,2999,40,Adidas CORE / NEO,4.2,80
2001,Men's adidas Running Stunn Shoes,CK9474,5599,2799,50,Adidas CORE / NEO,3.6,86
0,Women's adidas Originals NMD_Racer Primeknit S...,AH2430,14999,7499,50,Adidas Adidas ORIGINALS,4.8,41

### B) Univariate, Bivariate, Multivariate Analyses and

### C) Visualization 
- For this section, you create graphs such as correlation heatmap and pairplot

## 5. Data Mining Algorithms (Codes)

## 6. Conclusion
- **For the conclusion, you will list 10 strategies you used in completing this project.**